<tr>
  <td>
    <%= booking_time_range(booking) %>
  </td>
  <td><%= booking.time_slot.fp.name %></td>
  <td><%= truncate(booking.description, length: 50) %></td>
  <td>
    <%= booking_status_badge(booking) %>
  </td>
  <td>
    <%= link_to "詳細", booking_path(booking), class: "btn btn-sm btn-outline-primary" %>
    <% if booking.status_cancellable? %>
      <%= link_to "キャンセル", booking_path(booking),
          data: { turbo_method: :delete, turbo_confirm: "予約をキャンセルしますか？" },
          class: "btn btn-sm btn-outline-danger" %>
    <% end %>
  </td>
</tr>
