<% provide(:title, "FP登録") %>
<h1>FP登録</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: @user, url: fp_signup_path, local: true) do |f| %>
      <%= render "shared/error_messages", object: @user %>

      <div class="mb-3">
        <%= f.label :name, "お名前", class: "form-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "パスワード（確認）", class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "FPとして登録する", class: "btn btn-success btn-lg w-100" %>
    <% end %>

    <p class="text-center mt-3">
      一般ユーザーとして登録する場合は <%= link_to "こちら", signup_path %>
    </p>
  </div>
</div>

